<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
    <startup> 

        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>

  <appSettings>

    <add key="ConnectionString" value="Data Source=DESKTOP-69MJDM3; Initial Catalog=db_ConsoleApp; Integrated Security=true;" />

    <add key="TableName" value="[Order]" />

    <add key="Columns" value="Id,OrderDate,OrderNumber,CustomerId"/>

    <add key="Orderdate" value="OrderDate"  />

    <add key="StartDate" value="2012-07-04"  />

    <add key="EndDate" value="2014-04-23"  />

    <add key="OutputPath" value="D:\CsvConvertorNew\CsvConvertorNew\"  />
    

  </appSettings>
  
</configuration>